.app{
  margin: 0px auto;
}

.div-formulario{
  margin-top: 40px;
}

.div-formulario h2{
  text-align: center;
}

.div-formulario form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form input[type="text"],
form select,
form textarea{
  display: block;
  margin: 10px;
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
}

form select{
  min-width: 263px;
  max-width: 263px;
}

form input[type="submit"],
form button{
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
}

form input[type="submit"]:hover,
form button:hover{
  transition: all 300ms;
  background-color: #ccc;
  color: #fff;
}